body{
    color: #262626;
    background:  url(/../../assets/images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

#wrap{
    background: linear-gradient(rgba(5, 70, 250, 0.3) 1%, rgb(34, 255, 237) 100%);
    min-height: 100vh;
}